extends layout

block header
    link(rel="stylesheet", href="/stylesheets/flex-controls.css")
    link(rel="stylesheet", href="/stylesheets/grid-content.css")

block content
    div.content
        h1#heading Event Detail
        span.pre Name: 
        span.value #{event.name}
        span.pre Time: 
        span.value #{event.time}
        span.pre Details: 
        span.value #{event.detail}
    div.controls
        div.edit
            a(href=`/calendar/edit/${event._id}`)
                input(type="button", value="Edit")
        div.delete
            a(href=`/calendar/delete/${event._id}`)
                input(type="button", value="Delete")