extends ../layout

block content
    div
        h1 Event Detail
        div.id
            span ID: 
            span#detail #{event._id}
        div.name
            span Name: 
            span#detail #{event.name}
        div.time
            span Time: 
            span#detail #{event.time}
        div.details
            span Detail: 
            span#detail #{event.detail}
        div.edit
            a(href=`/calendar/edit/${event._id}`)
                input(type="button", value="Edit")
        div.delete
            a(href=`/calendar/delete/${event._id}`)
                input(type="button", value="Delete")