mixin span(cls, value)
	span(class=cls) #{value}

mixin p(cls, value)
	p(class=cls) #{value}

mixin input(cls, type, placeholder, name, value, required)
	input(
		class=cls,
		type=type,
		placeholder=placeholder,
		name=name,
		value=value,
		required=required
	)

mixin textarea(cls, cols, rows, placeholder, name, value, required)
	textarea(
		class=cls,
		cols=cols,
		rows=rows,
		placeholder=placeholder,
		name=name,
		required=required		
	) #{value}

mixin elem(args)
	case args.elemType 
		when 'span'
			+span(args.cls, args.value)
		when 'p'
			+p(args.cls, args.value)
		when 'input'
			+input(args.cls, args.type, args.placeholder, args.name, args.value, args.required)
		when 'textarea'
			+textarea(args.cls, args.cols, args.rows, args.placeholder, args.name, args.value, args.required)

mixin event(args)
	each row in args
		+elem(row.pre)
		+elem(row.value)

+event(event.rows)
